<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<title>アンケート一覧画面</title>
</head>

<body>
<div class="sub-title">
アンケート一覧
</div>
<form action="anq_result.php" method="post">
<table class="adminlist">




</table>
</form>

</body>
</html>