<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<title>管理者ログイン画面</title>
</head>

<body>
<div class="sub-title">
管理者ログイン
</div>
{{* ここにエラーメッセージを表示します *}}
<form action="login.php" method="post">




</form>
</body>
</html>