<html>
<head>
<title>管理画面</title>
</head>
<frameset rows="10%,*">
  <frame src="menu.html" name="menu">
  <frame src="main.html" name="main">
  </frameset>
  <noframes>
  このページはフレーム対応のブラウザでご覧ください。
  </noframes>
</frameset>
</html>