<html>
<head>
 <title>include sample</title>
</head>
<body>
{include file="./header.tpl" page_title="このページのタイトル"}  {* ヘッダテンプレートファイルを読み込む構文で、page_title変数をアサインしています *}
<hr>
<font color="red">ここにメインコンテンツが記載されます。</font><br />
<font color="red">ここにメインコンテンツが記載されます。</font><br />
<hr>
{include file="./footer.tpl"}  {* ヘッダテンプレートファイルを読み込む構文 *}
</body>
</html>
